@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {

  --main-bg-color: rgb(255, 255, 255);
  font-size: clamp(0.9375rem, calc(0.9119rem + 0.1136vw), 1rem);
  font-family: "Open Sans", sans-serif;;
}
body {
  background: white;
}
main {
  padding: 0 5vw;
}
a{
    text-decoration: none; /* remove o sublinhado dos links */
    color: black; /* altera a cor de todos os links das páginas */
}
h1, h2, h3, h4, h5, h6{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*Header*/
header {
  background-color: #696865;
  padding: 1rem 0;
}
header div.tudo nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}
header div.tudo nav div.logo {
  display: flex;
  gap: 3vw;
  align-items: baseline;
}
header div.tudo nav div.logo h1 {
  font-size: clamp(2.25rem, calc(1.4773rem + 0.1136vw), 2.5rem);
}
header div.tudo nav div.logo h1 a {
  color: white;
}
header div.tudo nav div.logo p {
  font-size: clamp(0.75rem, calc(0.7273rem + 0.1136vw), 0.875rem);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}
header div.tudo nav ul {
  display: flex;
  gap: 3vw;
  align-items: center;
}
header div.tudo nav ul li a {
  color: white;
  border-bottom: 1.85px solid white;
}
/*Main*/
